<?xml version="1.0"?>

<model>
  <name>RoboCup 2012 RVRL Pre1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>VRL League</name>
    <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
    RoboCup WCS 2012 VRL Preliminary Field.  
  </description>
</model>
