<?xml version="1.0"?>
<launch>
  <include file="$(find setup)/launch/gserver.launch"/>

  <param name="use_sim_time" value="true" />

  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_asus_with_hokuyo_utm30lx.gazebo.xacro"/>
    </include>
    <include file="$(find setup)/launch/Quad_launch_files/quad_3d_mapping.launch" />


  <include file="$(find setup)/launch/utility.launch" />



</launch>
