<?xml version="1.0"?>
<launch>
  <include file="$(find setup)/launch/gserver.launch"/>

  <param name="use_sim_time" value="true" />



  <include file="$(find setup)/launch/P3AT_launch_files/p3at_spawn.launch">
    <arg name="robotname" value="sos1"/>
    <arg name="initialx" value="-10"/>
    <arg name="initialy" value="-10"/>
  </include>


  <include file="$(find setup)/launch/P3AT_launch_files/p3at_hmapping.launch">
    <arg name="robotname" value="sos1"/>
  </include>


  <!--include file="$(find setup)/launch/P3AT_launch_files/p3at_move_base.launch">
    <arg name="robotname" value="sos1"/>
  </include-->

  <include file="$(find setup)/launch/utility.launch" />



</launch>
