<?xml version="1.0"?>
<launch>

  <include file="$(find setup)/launch/P3AT_launch_files/p3at_spawn.launch">
    <arg name="robotname" value="sos1"/>
    <arg name="initialx" value="40"/>
    <arg name="initialy" value="-14"/>
  </include>

  <include file="$(find setup)/launch/P3AT_launch_files/p3at_spawn.launch">
    <arg name="robotname" value="sos2"/>
    <arg name="initialx" value="47"/>
    <arg name="initialy" value="-44"/>
  </include>





</launch>
