<?xml version="1.0"?>
<launch>


  <arg name="robotname" default="sos1"/>
  <arg name="initialx" default="0.0"/>
  <arg name="initialy" default="0.0"/>

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_$(arg robotname)">
     <param name="target_frame_name" value="/map" />
     <param name="source_frame_name" value="/$(arg robotname)/base_link" />
      <remap from="/trajectory" to="/$(arg robotname)/trajectory" />
    </node>



  <group ns="$(arg robotname)">
    <param name="map_merge/init_pose_x" value="$(arg initialx)"/>
    <param name="map_merge/init_pose_y" value="$(arg initialy)"/>
    <param name="map_merge/init_pose_z" value="0.0"/>
    <param name="map_merge/init_pose_yaw" value="0.0"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find p3at_description)/urdf/pioneer3at.urdf.xacro'" />
    <param name="tf_prefix" type="string" value="$(arg robotname)"/>

    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="15.0" />
      <param name="tf_prefix" type="string" value="$(arg robotname)" />
    </node>



    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
      <param name="publish_frequency" type="double" value="15.0" />
      <param name="use_gui" value="false" />
    </node>
    <node pkg="gazebo_ros" type="spawn_model" name="gazebo1"  args="-param robot_description -urdf -z 0.05 -y $(arg initialy) -x $(arg initialx) -model $(arg robotname)" />

    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop1"  />   <!-- backup teleop-->



  </group>



</launch>
