<launch>
  <arg name="robotname"/>
  <param name="$(arg robotname)_robot_description" command="$(find xacro)/xacro.py '$(find p2os_urdf)/defs/pioneer3at.xacro' prefix:=$(arg robotname)" />
  <<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" value="$(arg robotname)"/>
  </node>
  <arg name="use_gui" default="false"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="false" />
  </node>
</launch>
