<?xml version="1.0"?>
<launch>

  <!--include file="$(find setup)/launch/telop_joy.launch" />
   <node pkg="rqt_gui"  type="rqt_gui"    name="rqt_gui"  args="-perspective-file $(find setup)/rviz/myfinal.perspective" /-->
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find setup)/rviz/validconfig.rviz" />

</launch>
