<?xml version="1.0"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/>
</include>

  
 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
  
  </include>


 <include file="$(find husky_navigation)/launch/gmapping_demo.launch" />
</launch>
